.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  width: 300px;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
